.rotate {
    animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}

.click-rotate-180 {
    transition: transform 300ms;
    transform: rotate(0deg);
}

.click-rotate-180.active {
    transform: rotate(180deg);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}

.arrow-icon {
    width: 24px;
    height: 24px;
}

#sliderButtons {
    position: absolute;
    bottom: -20px;
    right: 59px;
    margin: 20px;
}



